
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7ff;
    color: #003366;
    display: flex;
    flex-direction: column;
}

  /* Контейнер для контактов и регистрации */
        .contact-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        /* Основной контент контактов */
        .contact-content {
            width: 65%;
        }

        /* Секция с регистрацией */
        .register-section {
            width: 30%;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .register-section h3 {
            color: #005b99;
            text-align: center;
            margin-bottom: 15px;
        }

        .register-section form label {
            display: block;
            margin-bottom: 8px;
        }

        .register-section form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .register-section form button {
            background-color: #005b99;
            color: white;
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .register-section form button:hover {
            background-color: #004080;
        }
